.App{
  min-height: 100vh;
  background: lightgray;
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
  border-radius: 10px 0 0 10px;
}

.search-bar-year{
  border: none;
  width: 10%;
  padding: 10px;
  text-align: center;
}

.search-button{
  background: grey;
  border-radius:0 10px 10px 0;
  border: none;
  padding: 10px;
}

.Movies{
  display: block;
  justify-content: left;
  margin: 10px;
}

.nominate-btn, .home-btn{
  margin-top: 10px;
  color: black;
  border: none;
  padding: 5px;
  background: lightgray;
}
.nominate-btn:hover, .home-btn:hover {
  background: white;
}

.title {
  text-align: center;
}